{% extends 'base.html' %}
{% block extra_title %}| About Us{% endblock %}
{% load static %}

{% block body %}
<main>
    <div>
        <div>
        <h2 class="text-uppercase text-center pt-3">Welcome to Neuro Sisters!</h2>
        <hr>
        <p class="text-justify">
            At Neuro Sisters, we're dedicated to providing mothers with the support and resources they need
            to care for
            their neurodivergent adult children while prioritizing their own mental health. Our platform is
            more than just
            a website; it's a safe and welcoming space where mothers can find valuable ideas, strategies,
            and community
            support.
            Whether you're looking for proven strategies to help your neurodivergent adult child thrive in
            work, money
            management, or communication, or seeking resources to support your own mental well-being, we've
            got you
            covered. Our user-friendly forum allows you to share ideas, connect with other mothers facing
            similar
            challenges, and access a wealth of information.
            Join us today and be part of a supportive community where mothers can find strength, resilience,
            and
            empowerment in their journey of supporting their neurodivergent adult children while nurturing
            their own mental
            health.
        </p>
    </div>
</main>
{% endblock %}