{% extends 'base.html' %}

{% block body %}
<main>
    <!-- Introduction -->
<section id="intro">
    <div id="intro-image">
        <img src="static/img/mother-and-son.png" alt="Photo of mother and son">
    </div>
    <div id="welcome">
        <h2>We are Neuro Sisters, mothers of neurodivergent adult children, here to support each other and share our journey</h2>
    </div>
    <h3>Hello test</h3>
</section>
<section id="intro-message">
    <div>
        <h2>Why are we here</h2>
        <p>We all know that parenting a neurodivergent child differs from parenting a neurotypical child. 
            However, many issues extend beyond childhood, and achieving independence and general adult functioning can be very challenging. 
            Often, parental support remains lifelong. Whether your adult child is still largely dependent on you or has already moved out, you'll find support and answers to most of your questions here. 
            <br>Welcome to the community!</pp>
    </div>
</section>
<section id="selfcare">
    <h2>Nurturing the Caregiver: Finding Balance and Support</h2>
    <div id="focus-points">
        <div>
            <h3><i class="fa-solid fa-heart"></i> Embrace Self-Care</h3>
            <p>Prioritize your own well-being with self-care practices tailored to your needs.</p>
        </div>
        <div>
            <h3><i class="fa-solid fa-user-group"></i> Connect with Community</h3>
            <p>Share experiences, gain insights, and find solidarity within our supportive caregiver community.</p>
        </div>
        <div>
            <h3><i class="fa-solid fa-hand-holding-heart"></i> Seek Emotional Support</h3>
            <p>Access resources and guidance for managing stress, finding inner strength, and nurturing your emotional well-being on the caregiving journey.</p>
        </div>
        <div>
            <h3><i class="fa-solid fa-book-open-reader"></i> Discover Respite Options</h3>
            <p>Explore respite care services and strategies to recharge and rejuvenate, allowing you to care for yourself while caring for your loved one.</p>
        </div>
    </div>
  </section>
</section>
<!-- Testimonials -->
<section id="testimonials">
  <h2>Testimonials</h2>
  <div class="quotes">
    <div>
      <div id="image-one" class="quotes-images">
        <p class="sr-only">Woman's face</p>
      </div>
      <q>Being a single mom with a neurodivergent adult child can be incredibly isolating. This group of amazing women provided me with a sense of belonging, guidance, and encouragement. From navigating the job market to dealing with social challenges, I never felt alone. It's more than a support group; it's a lifeline.</q>
      <p>Kathy</p>
    </div>
    <div>
      <div id="image-two" class="quotes-images">
        <p class="sr-only">Woman's face</p>
      </div>
      <q>When my son was diagnosed with Asperger's as an adult, I felt lost. But through the support network for women with neurodivergent adult children, I found a community that truly understands. The advice, encouragement, and compassion I received made all the difference. It's not just about the support; it's about finding family in the journey.</q>
      <p>Yasmin</p>
    </div>
    <div>
      <div id="image-three" class="quotes-images">
        <p class="sr-only">Woman's face</p>
      </div>
      <q>The transition to adulthood for my neurodivergent son was filled with anxiety and uncertainty. The women in this support network became my source of strength. They helped me find resources, share stories, and laugh through the tears. I wouldn't be where I am without their support.</q>
      <p>Sam</p>
    </div>
    <div>
      <div id="image-four" class="quotes-images">
        <p class="sr-only">Woman's face</p>
      </div>
      <q>My daughter was diagnosed with ADHD in her late teens, and I had no idea how to help her transition into adulthood. The women in this group offered me guidance, empathy, and a safe space to share my fears and triumphs. Their support gave me the confidence to be the best advocate for my child.</q>
      <p>Barbara</p>
    </div>
  </div>
</section>
</main>
    
{% endblock %}