{% extends 'base.html' %}

{% block body %}
<main>
    <!-- Introduction -->
<section id="intro">
    <div id="intro-image">
        <img src="static/img/mother-and-son.png" alt="Photo of mother and son">
    </div>
    <div id="welcome">
        <h2>We are Neuro Sisters, mothers of neurodivergent adult children, here to support each other and share our journey</h2>
    </div>
    <h3>Hello test</h3>
</section>
<section id="intro-message">
    <div>
        <h2>Why are we here</h2>
        <p>We all know that parenting a neurodivergent child differs from parenting a neurotypical child. 
            However, many issues extend beyond childhood, and achieving independence and general adult functioning can be very challenging. 
            Often, parental support remains lifelong. Whether your adult child is still largely dependent on you or has already moved out, you'll find support and answers to most of your questions here. 
            <br>Welcome to the community!</pp>
    </div>
</section>
<section id="selfcare">
    <h2>Nurturing the Caregiver: Finding Balance and Support</h2>
    <div id="focus-points">
        <div>
            <h3><i class="fa-solid fa-heart"></i> Embrace Self-Care</h3>
            <p>Prioritize your own well-being with self-care practices tailored to your needs.</p>
        </div>
        <div>
            <h3><i class="fa-solid fa-user-group"></i> Connect with Community</h3>
            <p>Share experiences, gain insights, and find solidarity within our supportive caregiver community.</p>
        </div>
        <div>
            <h3><i class="fa-solid fa-hand-holding-heart"></i> Seek Emotional Support</h3>
            <p>Access resources and guidance for managing stress, finding inner strength, and nurturing your emotional well-being on the caregiving journey.</p>
        </div>
        <div>
            <h3><i class="fa-solid fa-book-open-reader"></i> Discover Respite Options</h3>
            <p>Explore respite care services and strategies to recharge and rejuvenate, allowing you to care for yourself while caring for your loved one.</p>
        </div>
    </div>
  </section>
</main>
    
{% endblock %}