{% extends 'base.html' %}

{% block body %}
<main>
<section id="learn-more">
    <h2>Learn more about different aspects of parenting a neurodivergent adult child</h2>
    <div id="practical-info" class="image-right">
        <div id="practical-text" >
        <h3>Understanding Neurodiversity:</h3>
        <p>Neurodiversity refers to various brain differences and is not a diagnosis but an umbrella term encompassing individuals whose brains function differently than neurotypical individuals.</p>
        </div>
        <div id="info-image">
            <img src='../static/img/practical-image-two.jpg' alt="Photo of woman">
        </div>
    </div>
    <div id="practical-info" class="image-left">
        <div id="practical-text">
        <h3>Prevalence: </h3>
        <p>Neurodiversity is more common than often perceived, with an estimated 15%-20% of the world's population experiencing some form of neurodivergence.</p>
        </div>
        <div id="info-image">
            <img src='../static/img/practical-image-one.jpg' alt="Photo of people thinking">
        </div>
    </div>
    <div id="practical-info" class="image-right">
        <div id="practical-text" >
        <h3>Approaching Support:</h3>
        <p>Supporting neurodivergent individuals requires patience, understanding, and a willingness to learn. It's essential to educate oneself about specific conditions and communicate directly with individuals to understand their needs and preferences.</p>
        </div>
        <div id="info-image">
            <img src='../static/img/practical-image-four.jpg' alt="Photo of woman">
        </div>
    </div>
    <div id="practical-info" class="image-left">
        <div id="practical-text">
        <h3>Support Strategies: </h3>
        <p>Strategies include educating oneself, communicating directly, being an ally, avoiding judgment, respecting boundaries, and helping individuals find neurodiversity-affirming therapists.</p>
        </div>
        <div id="info-image">
            <img src='../static/img/practical-image-three.jpg' alt="Photo of people supporting">
        </div>
    </div>
    <div id="practical-info" class="image-right">
        <div id="practical-text" >
        <h3>Support in Different Settings:</h3>
        <p>Support strategies vary based on the setting, such as at home, school, or work. Providing appropriate accommodations and understanding individual needs in each environment is crucial.</p>
        </div>
        <div id="info-image">
            <img src='../static/img/practical-image-five.jpg' alt="Photo of woman">
        </div>
    </div>
    <div id="practical-info" class="image-left">
        <div id="practical-text">
        <h3>Support at School: </h3>
        <p>Educators should learn about neurodivergence to better support neurodivergent students, provide accommodations, and collaborate with parents and counselors.</p>
        </div>
        <div id="info-image">
            <img src='../static/img/practical-image-six.jpg' alt="Photo of people supporting">
        </div>
    </div>
</section>
</main>
   
{% endblock %}