{% extends 'base.html' %}

{% block body %}
<main>
<section id="learn-more">
    <h2>Learn more about different aspects of parenting a neurodivergent adult child</h2>
    <div id="practical-info">
        <div id="practical-text">
        <h3>Understanding Neurodiversity:</h3>
        <p>Neurodiversity refers to various brain differences and is not a diagnosis but an umbrella term encompassing individuals whose brains function differently than neurotypical individuals.</p>
        </div>
        <div id="info-image">
            <img src='../static/img/people-thinking.jpg' alt="Photo of mother and son">
        </div>
    </div>
</section>
</main>
   
{% endblock %}