{% extends 'base.html' %}

{% block body %}

    <h1>Hello {{ user_profile }}</h1>
    
    {% if friends %}
    <p>Yor friends are</p>
    
    	
    
    <ul>
        {% for friend in friends.all %}
        	<li>ID={{ friend.friend.id }}, <a href="{% url 'friend_profile' friend.friend.id %}">{{ friend.friend }}</a><a href="{% url 'remove_friend' friend.id %}">UNFOLLOW</a></li> 
        {% endfor %}
        
        </ul>
    {% else %}    
    <p>You are not following anyone yet.</p>
    {% endif %}


    <a href="{% url 'blog_home' %}">Blog</a>
    
{% endblock %}