{% extends 'base.html' %}
{% block extra_title %}| Blog{% endblock %}

{% block body %}
    <main>
        <div class="row">
            {% for category in categories %}
                <div class="col">
                    {{ category }}
                </div>
            {% endfor %}


        </div>

        <div class="categories-list">
            <div class="category">
                <p>Finances and employment</p>
            </div>
            <div class="category">
                <p>Family dynamics</p>
            </div>
            <div class="category">
                <p>Diagnosis in adulthood</p>
            </div>
            <div class="category">
                <p>Emotional Impact</p>
            </div>
            <div class="category">
                <p>Social Stigma</p>
            </div>
            <div class="category">
                <p>Other</p>
            </div>

        </div>
        <a class="btn btn-success" href="{% url 'add_post' %}">Add new post</a>
        <div id="caterogies">
            <div>
                <p></p>
            </div>
        </div>
        {% for post in posts %}
            <div class="post">
                <div>
                    <h3>author {{ post.author.username }}

                        {% if user.is_authenticated %}
                            {% if not post.author.username == user.username %}
                                {% if post.author.id in friends_list %}
                                    {#                        can put unfollow link here if needed    #}
                                {% else %}
                                    <a href="{% url 'add_friend' post.author.id %}"><i
                                            class="fa-solid fa-user-plus"></i></a>
                                {% endif %}
                            {% endif %}
                        {% endif %}

                    </h3>
                    <h3>{{ post.title }}</h3>
                    <textarea>{{ post.content | safe | escape }}</textarea>
                    <div class="reactions-comments">
                       

                    </div>
                        <div class="reactions">
                            <div class="reactions-container">
                                <i class="fa-regular fa-heart"></i>
                                <div class="reactions-choices hidden ">
                                    <a href="{% url 'add_reaction' post_id=post.id reaction_type="LIKE" %}"><i
                                            class="fa-regular fa-thumbs-up"></i></a>
                                    <a href="{% url 'add_reaction' post_id=post.id reaction_type="LOVE" %}"><i
                                            class="fa-regular fa-heart"></i></a>
                                    <a href="{% url 'add_reaction' post_id=post.id reaction_type="HAHA" %}"><i
                                            class="fa-regular fa-face-laugh-beam"></i></a>
                                    <a href="{% url 'add_reaction' post_id=post.id reaction_type="WOW" %}"><i
                                            class="fa-regular fa-face-meh-blank"></i></a>
                                    <a href="{% url 'add_reaction' post_id=post.id reaction_type="SAD" %}"><i
                                            class="fa-regular fa-face-frown"></i></a>
                                    <a href="{% url 'add_reaction' post_id=post.id reaction_type="ANGRY" %}"><i
                                            class="fa-regular fa-face-angry"></i></a>
                                </div>
                            {{ post.reactions_set.all.count }}
                        </div>
                        <div class="comments">
                            <a href="{% url 'post_detail' post.id %}"><i class="fa-regular fa-comment"></i> 
                            {{ post.comment_set.all.count }}</a>
                        </div>
                    </div>
                </div>
            </div>
      

        {% empty %}
            <p>No posts yet.</p>
        {% endfor %}

 </main>


    {##}
    <script>
        $(document).ready(function () {
            function showReactionChoices() {
                $(this).find('.reactions-choices').removeClass('hidden');
            }

            function hideReactionChoices() {
                $(this).find('.reactions-choices').addClass('hidden');
            }

            $('.reactions-container').on('click', showReactionChoices);
            $('.reactions-choices').on('click', hideReactionChoices);


        })


    </script>
{% endblock %}