{% extends 'base.html' %}

{% block body %}
{{ post.title }}
    <p>post detail</p>
    {{ post.content | safe | escape }}
    {% if post.author == user or user.is_staff %}
        <a href="{% url 'edit_post' post.id %}">Edit Post</a>
    {% endif %}

    <form action="{% url 'submit_comment' post_id=post.id %}" method="post">
        {% csrf_token %}        
        {{ comment_form }}
        <button type="submit">Submit</button>
    </form>
    
    <p>Comments</p>
    <ul>
        {% for comment in comments %}
            <li>
                Author: {{ comment.author }}, <br>
                {{ comment.content | safe | escape }} <br>
                Created on: {{ comment.created_at }}
                {% if comment.author == user or user.is_staff %}
                    <a href="{% url 'edit_comment' comment.id %}">Edit</a> |
                {% endif %}
                {% if comment.author == user or user.is_staff %}
                    <a href="{% url 'delete_comment' comment.id %}">Delete</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}