{% extends 'base.html' %}

{% block body %}

    <p>post detail</p>
    {{ post.content | safe | escape }}


    <form action="{% url 'submit_comment' post_id=post.id %}" method="post">
    {% csrf_token %}        
        {{comment_form}}
    <button type="submit">Submit</button>
    </form>
    
    <p>comments</p>
    <ul>
        {% for comment in comments %}
            <li>
                Author: {{ comment.author }}, <br>
                {{ comment.content | safe }} <br>
                Created on: {{ comment.created_at }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}