
/* Navbar */
.navbar-light .navbar-nav .nav-link {
    color: black;
}

.custom-navbar {
    width: 70%;
    border-radius: 20px;
    margin: 20px auto;
    background-color: #f8f9fa;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar-brand img {
    max-height: 40px;
}
 
.navbar-nav {
    width: 100%;
    justify-content: space-between;
}

.logo-font {
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
}

.icon-size {
    font-size: 25px;
}

/* Profile Dropdown Menu - Navbar */
.dropdown-menu {
    background-color: #fff;
    border: 1px solid #ccc; 
    border-radius: 15px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.dropdown-item {
    text-align: center;
    color: #333; 
    padding: 10px 20px; 
    font-size: 14px; 
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

/* Footer */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1;
  }
  
  .footer {
    width: 100%;
    background-color: #f8f9fa;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #ccc; 
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer .logo-font {
    text-decoration: none; 
    color: black; 
  }

/* Hero Image */

#intro {
    width: 70%;
    margin: 0 auto;
    display: flex;
    background-color: #faba9b;
}

#intro-image img {
    width: 100%;
}

#book-club-image {
    width: 60%;
}

#welcome {
    width: 40%;
    margin: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 85%;
}

#introduction {
    width: 70%;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 80%;
    margin: 0 auto;
}

#introduction h3 {
    margin: 20px;
}