@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');


/* Navbar */
.navbar-light .navbar-nav .nav-link {
    color: black;
}

.custom-navbar {
    width: 70%;
    border-radius: 20px;
    margin: 20px auto;
    background-color: #f8f9fa;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar-brand img {
    max-height: 40px;
}
 
.navbar-nav {
    width: 100%;
    justify-content: space-between;
}

.logo-font {
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
}

.icon-size {
    font-size: 25px;
}

/* Profile Dropdown Menu - Navbar */
.dropdown-menu {
    background-color: #fff;
    border: 1px solid #ccc; 
    border-radius: 15px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.dropdown-item {
    text-align: center;
    color: #333; 
    padding: 10px 20px; 
    font-size: 14px; 
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}


/* Footer */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1;
  }
  
  .footer {
    width: 100%;
    background-color: #f8f9fa;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #ccc; 
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer .logo-font {
    text-decoration: none; 
    color: black; 
  }

/* Home page */
main {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 70%;
    margin: 0 auto 70px;
}

/* Hero Image */
#intro {
    margin: 0 auto;
    display: flex;
    background-color: #faba9b;
}

#intro-image img {
    width: 100%;
}

#intro-image {
    width: 60%;
}

#welcome {
    width: 40%;
    margin: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
}

#intro-message {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    line-height: 150%;
    font-size: 130%;
    margin: 20px auto;
}

/* Selfcare section */
#selfcare {
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

#focus-points h2 {
    margin-bottom: 20px;
    text-align: center;
}

#selfcare p {
    padding: 0 20px;
    font-size: 120%;
}

#selfcare h2 {
    display: none;
}

/* Testimonials */
#testimonials h2 {
    display: none;
}

/* Use flexbox to makes this section responsive */
.quotes {
    display: flex;
    flex-wrap: wrap;
}

.quotes>div {
    color: #0d0c0c;
    padding: 15px;
    text-align: center;
    flex-basis: auto;
    flex-grow: 1;
    margin: auto;
    max-width: 300px;
    font-size: 110%;
}

.quotes-images {
    height: 90vw;
    width: 90vw;
    max-width: 100px;
    max-height: 100px;
    margin: 10px auto;
}

#image-one {
    background: url('../static/img/image-one.png') no-repeat center / cover;
}

#image-two {
    background: url('../static/img/image-two.png') no-repeat center / cover;
}

#image-three {
    background: url('../static/img/image-three.png') no-repeat center / cover;
}

#image-four {
    background: url('../static/img/image-four.png') no-repeat center / cover;
}

/*Toasts*/

.message-container {
  position: fixed;
  top: 100px;
  left: 650px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 25px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
  border-bottom-color: #007bff !important;
}

.arrow-secondary {
  border-bottom-color: #6c757d !important;
}

.arrow-success {
  border-bottom-color: #28a745 !important;
}

.arrow-danger {
  border-bottom-color: #dc3545 !important;
}

.arrow-warning {
  border-bottom-color: #ffc107 !important;
}

.arrow-info {
  border-bottom-color: #17a2b8 !important;
}

.arrow-light {
  border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
  border-bottom-color: #343a40 !important;
}

/*toast end*/

/* Small devices (Tablets and mobiles, 768px and down) */
@media (max-width: 768px) {

    main {
        width: 90%;
    }

    #intro {
        display: flex;
        flex-direction: column;
    }

    #intro-image {
        width: 100%;
    }

    #welcome {
        width: 100%;
    }
}