{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="description" 
      content="Discover a supportive online platform for mothers of neurodivergent adults, offering ideas and strategies for maintaining their mental health while supporting their children. Join discussions, share insights, and access resources anonymously or with a user profile.">
    <meta name="keywords" content="neurodivergent, mental health support, caregiving, parenting, forum">
    <meta name="author" content="NeuroSisters">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"><link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Truculenta:opsz,wght@12..72,100..900&family=Yatra+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://kit.fontawesome.com/6131d31248.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.png' %}" type="image/x-icon">

    <title>NeuroSisters {% block extra_title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
            <a class="nav-link">{{ user.username }}</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}"
                >Sign Up</a
            >
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
            </li>
            {% endif %}
       </ul>
    </nav>

<h1 style="color: aquamarine;">It's alive!</h1>

{% block body %}
{% endblock %}


<script src="{% static 'js/script.js' %}"> </script>
</body>
</html>